/* slide */

.main {
  overflow: hidden;
}

.main .slide {
  height: 42.4rem;
  width: 100%;
  position: relative;
}

.imgSlide {
  width: 100%;
  height: 42.4rem;
  position: absolute;
  display: none;
}

.imgSlide img {
  width: 100%;
}

.slide p {
  position: absolute;
  top: 0;
  left: 0;
}

.slide .prev,
.slide .next {
  z-index: 20;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: 0.3s;


}

.slide .prev.active,
.slide .next.active {
  opacity: 1;
}



.slide .prev {
  left: 5%;
}

.slide .next {
  right: 5%;
}

/* ment */

.main>.ment {
  height: 27.25rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main>.ment>p {
  opacity: 0;
  transition: 0.9s ease-in-out;
}

.main>.ment>p:nth-child(1) {
  font-size: 0.7rem;
  font-weight: bolder;

  color: #111111;
  line-height: 1;
  margin: 0 0 0.9rem 0;
  transform: translateX(30px);
  transition-delay: 0.3s;
}

.main>.ment>p:nth-child(1).on {
  opacity: 1;
  transform: translateX(0);
}

.main>.ment>p:nth-child(2) {
  font-size: 2rem;
  font-weight: 500;
  color: #111111;
  line-height: 2.4rem;
  transform: translateX(-30px);
  transition-delay: 0.4s;
}

.main>.ment>p:nth-child(2).on {
  opacity: 1;
  transform: translateX(0);
}

.main>.ment>p:nth-child(3) {
  font-size: 0.75rem;
  font-weight: 300;
  color: #888888;
  line-height: 1.35rem;
  padding: 1.85rem 0 0 0;
  transition: 1.3s;
  transition-delay: 0.8s;
}

.main>.ment>p:nth-child(3).on {
  opacity: 1;
}

/* banner */

.main>.banner {
  width: 100%;
}

.main>.banner>ul {
  display: flex;
  justify-content: center;
}

.main>.banner>ul li {
  display: inline-block;
  width: 30%;
  transition: 1.5s ease-in-out;
  opacity: 0;
  transition-delay: 0.3s;
}

.main>.banner>ul li:nth-child(1) {
  transform: translateY(50px);
}

.main>.banner>ul li:nth-child(1).on {
  transform: translateY(0);
  opacity: 1;
}

.main>.banner>ul li:nth-child(2) {
  transform: translateY(-50px);
}

.main>.banner>ul li:nth-child(2).on {
  transform: translateY(0);
  opacity: 1;
}

.main>.banner>ul li:nth-child(3) {
  transform: translateY(50px);
}

.main>.banner>ul li:nth-child(3).on {
  transform: translateY(0);
  opacity: 1;
}


.main>.banner>ul li img {
  width: 100%;
}

/* product */
.product {
  width: 100%;
  /*height: 17.75rem;*/
  background-color: #fff;
}

.product>p {
  font-size: 1.2rem;
  color: #000;
  text-align: center;
  letter-spacing: 2px;
  margin: 7.3rem 0 4.15rem 0;
  line-height: 1;
  position: relative;
  transform: translateX(-50px);
  opacity: 0;
  transition: 1s;
}

.product>p.on {
  opacity: 1;
  transform: translateX(0);
}

.product>p:after {
  content: "";
  width: 1.8rem;
  height: 2.5px;
  background-color: #000;
  position: absolute;
  top: 2.4rem;
  left: 50%;
  transform: translateX(-50%);
}

.product ul {
  display: flex;
  justify-content: center;
  margin: 0 0 9rem 0;
}

.product ul li {
  width: 18%;
  margin: 0 0.3rem;
  transform: translateY(50px);
  opacity: 0;
  transition: 1s;
  transition-delay: 0.6s;

}

.product ul li.on {
  opacity: 1;
  transform: translateY(0);
}

.product ul li img {
  width: 100%;
}

.product ul li .product_text>p {
  text-align: center;
  line-height: 1;
}

.product ul li .product_text>p:nth-child(1) {
  font-size: 0.8rem;
  padding: 1rem 0 0.8rem 0;
  border-bottom: 1px solid #ececec;
  margin: 0 0 0.5rem 0;
}

.product ul li .product_text>p:nth-child(2) {
  font-size: 0.68rem;
  font-weight: 300;
  color: #afafaf;
  padding: 0.25rem 0;
  line-height: 0.9rem;
}

.product ul li .product_text>p:nth-child(3) {
  font-size: 0.75rem;
  font-weight: 700;
}

/* brand_story */
.brand_story {
  height: 47.3rem;
  width: 100%;
  background-color: #f5f5f5;
  position: relative;
}

.brand_story>.back_img {
  position: absolute;
  height: 23.5rem;
  width: 100%;
  background: url(../images/main_section_3_bg.jpg) no-repeat center/100%;
  background-attachment: fixed;
}

.brand_story>p:first-of-type {
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
  padding: 5.5rem 0 6.9rem 0;
  line-height: 1;
  letter-spacing: 1.6px;
  position: relative;
  transform: translateX(-50px);
  transition: 1s;
  opacity: 0;
}

.brand_story>p:first-of-type.on {
  transform: translateX(0);
  opacity: 1;
}

.brand_story>p:first-of-type:after {
  content: "";

  width: 1.8rem;
  height: 1.5px;
  background-color: #fff;
  position: absolute;
  bottom: 5.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.brand_story>.box {
  display: flex;
  justify-content: center;

  height: 21.5rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50px);
  opacity: 0;
  transition: 1s;
  transition-delay: 0.5s;
}

.brand_story>.box.on {
  opacity: 1;
  transform: translateX(-50%);
}

.brand_story>.box img {
  height: 100%;
}

.brand_story>.box>.box_text {
  width: 32.5rem;
  height: 21.5rem;
  padding: 4rem 0 0 2.5rem;
  box-sizing: border-box;
  color: #111111;
  background-color: #fff;
}

.brand_story>.box>.box_text>p:nth-child(1) {
  font-size: 1.35rem;
  line-height: 1;
  padding: 0 0 1.4rem 0;
}

.brand_story>.box>.box_text>p:nth-child(2) {
  font-size: 0.85rem;
  font-weight: 300;
  line-height: 1.4rem;
}

.brand_story>.box>.box_text>a {
  display: inline-block;
  font-size: 0.9rem;
  letter-spacing: -1.2px;
  line-height: 1;
  padding: 0.75rem 1rem;
  border: 1px solid #dddddd;
  margin-top: 2.2rem;
}

/* sns_icon */
.sns_icon {
  position: fixed;
  right: 0.5rem;
  top: 10.9rem;
  z-index: 30;
}

.sns_icon ul {
  width: 2rem;
  height: 6.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.sns_icon ul li a {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #000;
  position: relative;
}

.sns_icon ul li a img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* go_btn */
.go_btn {
  position: fixed;
  bottom: 20px;
  right: 14px;
}

.go_btn>a {
  display: block;
}